<%- include('../partials/header') -%>
<h1>
	Content Selection Prototype
</h1>

<div class="content">
	<p id="fa87c456-802c-43a1-97ec-2dfa34a64a41">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in hendrerit ligula. Praesent imperdiet at arcu vel feugiat. In vulputate elit ornare ullamcorper feugiat. In a condimentum lorem, eget volutpat magna. Ut at consectetur neque. Curabitur molestie porta lorem. Aliquam eget dignissim augue. <strong>Curabitur et ultricies odio. In quis purus a turpis lacinia</strong> venenatis. Maecenas quam urna, porta eu rutrum ac, pretium quis risus. Morbi lobortis velit nec risus lobortis tincidunt feugiat in velit. In elementum tortor neque, rhoncus viverra nisi volutpat sed. Nunc malesuada mollis ligula in egestas. Sed vel leo vel elit euismod mollis in a ligula. Suspendisse luctus elit eget est blandit iaculis. In accumsan bibendum magna vel tincidunt.
	</p>
	<p id="7dd9dd7c-817b-4088-a4c8-b64135cee1b4">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eleifend tellus vel nibh iaculis sollicitudin. Proin at tincidunt ipsum, sed tristique lacus. Nam faucibus, erat ac finibus aliquet, est nisl commodo justo, eu laoreet quam metus at elit. Vivamus eget massa neque. Mauris eu sagittis dolor. Vestibulum rutrum lacinia elit, vel feugiat dui. Mauris maximus sem eget dui pharetra, nec aliquam augue tempor.
	</p>
</div>

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/remote.js"></script>
<script type="text/javascript" src="/assets/js/content.js"></script>

<%- include('../partials/footer') -%>